@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Libre+Baskerville:ital@1&family=Monoton&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 46, 103);
  font-family: "Cinzel", serif;
  color: azure;
}

#logo-container {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#logo-image {
  height: 20vh;
}
#logo {
  font-size: 3rem;
  color: rgb(98, 208, 255);
}

#App {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#chess-page {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#chessboard-container {
  display: flex;
  align-items: flex-end;
}
#chessboard {
  background-color: rgb(117, 111, 111);
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  border: 3px solid rgb(85, 255, 0);
  box-shadow: 5px 5px 50px rgb(12, 12, 12);
}

.tile {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  cursor: grab;
}

.tile:active {
  cursor: grabbing;
}

.white {
  background-color: rgb(98, 208, 255);
  box-shadow: 0px 0px 20px rgb(98, 208, 255);
}

#letters-row {
  display: flex;
  width: 804px;
}

.letters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 2rem;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 50px;
  font-size: 2rem;
}

.piece {
  height: 80px;
}
